/* COLORS */
$blue-color: #6ebfb5;
$normal-color: #fddddd;
$normal-shadow-color: #dbaaaa;
$background-color: orange;
$orange-color: #ff5f40;
$orange-shadow-color: #c94a31;
$black-color: #0e4241;
$green-color: #33a124;
$red-color: #a12824;
$purple-color: #a12462;
$green-shadow-color: #68d959;
$red-shadow-color: #d95d59;
$purple-shadow-color: #d95999;
