@use 'config';
@use 'variables';

/* COVER SECTION */

header {
	z-index: 10;
	width: 100%;
	height: 100vh;
	background: variables.$white-color;
	@include config.centerElement;

	.info-container {
		@include config.centerElement;
		text-align: center;

		h1 {
			font-size: variables.$big-size;
			font-weight: 700;
			color: variables.$black-color;
		}

		p {
			font-size: variables.$up-normal-size;
			font-weight: 400;
			color: variables.$black-color;
		}

		.made-container {
			margin: 15px 0 80px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		span {
			margin: 0 10px 8px 10px;
			font-size: variables.$up-normal-size;
		}

		a {
			color: variables.$black-color;
			font-size: variables.$medium-size;

			&:hover {
				color: variables.$black-shadow-color;
			}
		}

		button {
			padding: 15px 25px;
			background: variables.$black-color;
			border-radius: 3px;
			color: variables.$white-color;
			font-size: variables.$normal-size;
			font-weight: 600;
			border: none;
			cursor: pointer;

			&:hover {
				background: variables.$black-shadow-color;
			}
		}
	}
}

/* ANIMATIONS */

@keyframes close {
	from {
		top: 50%;
	}

	to {
		top: -50%;
	}
}

.start {
	animation-name: close;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
