/* COLORS */
$black-color: #363636;
$white-color: #eeeeee;
$black-shadow-color: #474747;

/* COVER SECTION TEXT SIZES */
$big-size: 56px;
$normal-size: 18px;
$medium-size: 25px;
$up-normal-size: 21px;

/* MAIN TEXT SIZES */
$main-regular-size: 16px;
$main-normal-size: 18px;
$main-medium-size: 20px;
$main-big-size: 25px;

/* MAIN APP COLORS */
$main-color: #eeeeee;
$secondary-color: #393e46;
$terciary-color: #cacaca;

/*
$main-color: black;
$secondary-color: lightblue;
$terciary-color: white;
*/
