@use 'variables';
@use 'config';

/* MAIN APP CONTENT */

main {
	@include config.center-element;
	background: variables.$orange-color;
	z-index: 5;
	border-radius: 15px;
	width: 320px;
	height: 533px;

	/* REMOVE INPUT ARROWS */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	input {
		border: none;
		font-weight: 400;
		font-size: 1.8rem;
		border-bottom: 2px solid variables.$white-color;
		background: variables.$orange-color;
		margin: 15px 0;
	}

	/* GENERAL STYLES */
	p {
		font-size: 1.8rem;
		font-weight: 400;
		color: variables.$black-color;
	}

	span {
		font-size: 1.8rem;
		font-weight: 600;
		color: variables.$black-color;
	}

	/* MAIN INFO CONTAINER */
	.main-info-container {
		background: variables.$orange-color;
		border-radius: 15px 15px 0 0;

		h3 {
			font-size: 2rem;
			font-weight: 600;
			text-align: center;
			color: variables.$white-color;
			padding: 15px 0;
		}

		/* PROGRESS BAR CONTAINER */
		.progress-container {
			width: 90%;
			margin: 0 auto 50px auto;
			height: 30px;
			background: variables.$white-color;
			border-radius: 5px;
			position: relative;

			#progress-bar {
				width: 0%;
				border-radius: 5px;
				height: 30px;
				background: variables.$black-color;
			}

			form {
				position: absolute;
				bottom: -35px;
				right: 0;

				select {
					-moz-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					border: none;
					padding: 5px 25px 5px 10px;
					border-radius: 3px;
					color: variables.$white-color;
					font-weight: 600;
					font-size: 1.2rem;
					background: variables.$black-color;
					background-image: url(https://i.ibb.co/T1PvbRp/arrow.png);
					background-repeat: no-repeat;
					background-size: 20px;
					background-position: right 5px top 70%, 0 0;
					cursor: pointer;

					&:hover {
						background: variables.$black-shadow-color;
						background-image: url(https://i.ibb.co/T1PvbRp/arrow.png);
						background-repeat: no-repeat;
						background-size: 20px;
						background-position: right 5px top 70%, 0 0;
					}

					&::-ms-expand {
						display: none;
					}
				}
			}
		}

		.form-container {
			width: 90%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 0 auto;

			form {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			button {
				background: variables.$black-color;
				padding: 10px 0;
				border-radius: 3px;
				border: none;
				cursor: pointer;
				color: variables.$white-color;
				font-weight: 600;
				font-size: 1.2rem;
				width: 70px;
				height: 90%;
				margin-left: 10px;
				text-align: center;

				&:hover {
					background: variables.$black-shadow-color;
				}
			}
		}
	}
}

/* OTHER INFO CONTAINER */
main {
	.other-info-container {
		border-radius: 10px 10px 15px 15px;
		background: variables.$white-color;
		padding: 15px 10px;

		/* LAST DAYS CONTAINER */
		.last-days-container {
			margin-bottom: 20px;

			h3 {
				font-size: 1.8rem;
				font-weight: 500;
				text-align: center;
				color: black;
			}

			ul {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;

				li {
					border: 1px solid black;
					padding: 10px 5px;
				}
			}
		}

		/* FINAL INFO CONTAINER */
		.final-info-container {
			li {
				display: flex;
				justify-content: space-between;
				margin: 15px 0;
				border-bottom: 1px solid rgba(0, 0, 0, 0.3);
				padding-bottom: 5px;
			}

			.repository-container {
				text-align: center;
				a {
					display: inline-block;
					padding: 10px 15px;
					background: variables.$black-color;
					font-weight: 600;
					font-size: 1.8rem;
					color: variables.$white-color;
					border-radius: 3px;
					text-decoration: none;
					&:hover {
						background: variables.$black-shadow-color;
					}

					i {
						margin-left: 10px;
					}
				}
			}
		}
	}

	hr {
		color: rgba(0, 0, 0, 0.3);
		margin-bottom: 20px;
		border: 2px solid rgba(0, 0, 0, 0.3);
	}
}
