/* COLORS */
/* COVER SECTION TEXT SIZES */
/* MAIN TEXT SIZES */
/* MAIN APP COLORS */
/*
$main-color: black;
$secondary-color: lightblue;
$terciary-color: white;
*/
/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #bebebe;
  font-family: "Recursive", sans-serif;
}

/* MIXINS */
/* COVER SECTION */
header {
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: #eeeeee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .info-container h1 {
  font-size: 56px;
  font-weight: 700;
  color: #363636;
}
header .info-container p {
  font-size: 21px;
  font-weight: 400;
  color: #363636;
}
header .info-container .made-container {
  margin: 15px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .info-container span {
  margin: 0 10px 8px 10px;
  font-size: 21px;
}
header .info-container a {
  color: #363636;
  font-size: 25px;
}
header .info-container a:hover {
  color: #474747;
}
header .info-container button {
  padding: 15px 25px;
  background: #363636;
  border-radius: 3px;
  color: #eeeeee;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
header .info-container button:hover {
  background: #474747;
}

/* ANIMATIONS */
@keyframes close {
  from {
    top: 50%;
  }
  to {
    top: -50%;
  }
}
.start {
  animation-name: close;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* MAIN APP FIRST SECTION */
main {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 543px;
  background: #eeeeee;
  border-radius: 15px;
  padding: 15px 15px;
  /* TITLE SECTION */
  /* FIRST SECTION CONTAINER */
}
main > h2 {
  font-size: 20px;
  font-weight: 700;
  color: #393e46;
}
main > h2 i {
  margin-right: 20px;
}
main .first-section-container {
  /* BILL CONTAINER */
  /* TIP CONTAINER */
  /* TOTALS CONTAINER */
}
main .first-section-container .bill-container {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  position: relative;
}
main .first-section-container .bill-container::before {
  content: "$";
  font-size: 25px;
  color: #393e46;
  font-weight: 400;
  position: absolute;
  top: 10px;
}
main .first-section-container .bill-container input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: #eeeeee;
  text-align: right;
  height: 50px;
  font-size: 25px;
  color: #393e46;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #393e46;
}
main .first-section-container .bill-container label {
  font-weight: 500;
  color: #393e46;
  font-size: 18px;
  margin-top: 10px;
}
main .first-section-container .tip-container {
  display: flex;
  flex-direction: column;
}
main .first-section-container .tip-container div {
  display: flex;
  justify-content: space-between;
  color: #393e46;
  font-size: 18px;
  margin-top: 15px;
}
main .first-section-container .tip-container div label {
  font-weight: 500;
}
main .first-section-container .tip-container div p {
  font-weight: 700;
}
main .first-section-container .totals-container {
  display: flex;
  flex-direction: column;
  color: #393e46;
  font-size: 18px;
  margin: 25px 0;
  background: #cacaca;
  border-radius: 3px;
  padding: 10px;
}
main .first-section-container .totals-container hr {
  margin: 15px 0;
  color: #393e46;
}
main .first-section-container .totals-container .total-tip-container,
main .first-section-container .totals-container .total-bill-container {
  display: flex;
  justify-content: space-between;
}
main .first-section-container .totals-container .total-bill-container p {
  font-weight: 700;
}

/* INPUT RANGE */
main input[type=range] {
  height: 2px;
  cursor: pointer;
  background: #393e46;
}
main input[type=range]::-webkit-slider-thumb, main input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #393e46;
  cursor: pointer;
}

/* MAIN APP SECOND SECTION */
main {
  /* SECOND SECTION CONTAINER */
}
main .second-section-container {
  /* SPLIT CONTAINER */
  /* TOTALS SPLIT CONTAINER */
  /* REPOSITORY CONTAINER */
}
main .second-section-container .split-container {
  display: flex;
  flex-direction: column;
}
main .second-section-container .split-container div {
  display: flex;
  justify-content: space-between;
  color: #393e46;
  margin-top: 15px;
  font-size: 18px;
}
main .second-section-container .split-container div p {
  font-weight: 500;
}
main .second-section-container .split-container div p:last-child {
  font-weight: 700;
}
main .second-section-container .totals-split-container {
  margin: 25px 0;
  color: #393e46;
}
main .second-section-container .totals-split-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}
main .second-section-container .totals-split-container div p {
  font-weight: 500;
}
main .second-section-container .totals-split-container div p:last-child {
  font-weight: 700;
}
main .second-section-container .repository-container {
  text-align: right;
}
main .second-section-container .repository-container a {
  padding: 10px 15px;
  background: #393e46;
  font-weight: 700;
  font-size: 18px;
  color: #eeeeee;
  border-radius: 3px;
  text-decoration: none;
}
main .second-section-container .repository-container a i {
  margin-left: 10px;
}

/*# sourceMappingURL=main.css.map */
